
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" />
    <title>@ViewData["Title"] - Repz</title>

    @RenderSection("Styles",false)

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/index.css" />

</head>
<body>
    <main>
        <div class="header">
            <img id="logo" src="~/assets/logo.png" alt="" />
            @if (User.Identity!.IsAuthenticated)
            {
                <div id="greeter">
                    <div id="username">@User.Identity.Name</div>
                    <a asp-page="/auth/signout">sign out</a>
                </div>
            }
        </div>
        @RenderBody()
        <div class="footer">
            <div>Repz 2022</div>
        </div>
    </main>
</body>
</html>