@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="column side">
        <div>Filter by ingredient</div>
        <div class="container"></div>
    </div>
    <div class="column middle">
        <div>Explore</div>
        <div class="container"></div>
    </div>
    <div class="column side">
        <div>Create</div>
        <div class="container"></div>
    </div>
</div>

