.create-recipe-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 2rem;
}

.create-recipe-form > input {
    width: 90%;
    margin-bottom: 1.5rem;
}

.create-recipe-form > button {
    margin-top: 2rem;
    width: 90%;
}

.tip {
    font-weight: 300;
    color: gray;
    font-size: 0.9rem;
}

#test {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 100%;
    /*background-color: red;*/
    padding: 0.5rem;
}

#filter-list {
    display: flex;
    flex-direction: column;
}

#product-name {
    margin-left: 1rem;
}

#filter-btn {
    margin-bottom: 1rem;
}

#middle-container {
    justify-content: center;
}

#recipe-card {
    /*width: 60%;*/
    margin-top: 1rem;
    padding: 1rem;
    background-color: #eee;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in-out;
}

    #recipe-card:hover {
        cursor: pointer;
        box-shadow: 0px 2px 39px rgba(0, 0, 0, 0.1);
        /*transform: scale(1.1);*/
    }

#recipe-description {
    color: #5c5c5c;
    font-weight: 400;
}
