* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins;
    height: 100vh;
}

main {
    height: 100%;
}

/* Style the header */
.header {
    background-color: #fefefe;
    text-align: center;
    font-size: 1.2rem;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: center;
}

.container {
    padding: 1rem;
    margin-top: 1rem;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow-y: scroll;
}

#logo {
    width: 100px;
}

    #logo:hover {
        cursor: pointer;
    }

#greeter {
    display: flex;
    justify-content: center;
}

#username {
    font-weight: bold;
    padding-right: 0.8rem;
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
    height: 80%;
}

/* Create three unequal columns that sits next to each other */
.column {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
}

    /* Left and right column */
    .column.side {
        -webkit-flex: 1.5;
        -ms-flex: 1.5;
        flex: 1.5;
    }

    /* Middle column */
    .column.middle {
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        display:flex;
        width:100%;
        justify-content:center;
        align-items:center
    }

/* Style the footer */
.footer {
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
}

input {
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.4rem;
    background-color: #eee;
}

    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        appearance: none;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff;
        /* Not removed via appearance */
        margin: 0;
        font: inherit;
        color: black;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid black;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }

        input[type="checkbox"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 50ms transform ease-in-out;
            box-shadow: inset 1em 1em black;
            transform-origin: bottom left;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        input[type="checkbox"]:focus {
            /*outline: max(2px, 0.15em) solid black;*/
            outline-offset: max(2px, 0.15em);
        }

        input[type="checkbox"]:checked::before {
            transform: scale(1);
        }

button {
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: white;
    background-color: #000;
    cursor: pointer;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
