* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins;
    height: 100vh;
}

main {
    height: 100%;
}

/* Style the header */
.header {
    background-color: #fefefe;
    text-align: center;
    font-size: 1.2rem;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items: center;
}

.container {
    padding: 1rem;
    margin-top: 1rem;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

#logo {
    width: 100px;
}

    #logo:hover {
        cursor: pointer;
    }

#greeter {
    display: flex;
    justify-content: center;
}

#username {
    font-weight: bold;
    padding-right: 0.8rem;
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
    height: 80%;
}

/* Create three unequal columns that sits next to each other */
.column {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
}

    /* Left and right column */
    .column.side {
        -webkit-flex: 1.5;
        -ms-flex: 1.5;
        flex: 1.5;
    }

    /* Middle column */
    .column.middle {
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }

/* Style the footer */
.footer {
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
}

input {
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.4rem;
    background-color: #eee;
}

button {
    border-radius: 10px;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: white;
    background-color: #000;
    cursor: pointer;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
